DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=fintech_transactions
DB_USER=postgres
DB_PASSWORD=your_postgresql_password

AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_DEFAULT_REGION=your_aws_region